@font-face { font-family:VT323; src:url(../assets/fonts/VT323-Regular.ttf); font-size:10pt,12pt,14pt; }

body {
	background-color: black;
	margin: 80px 0 0 200px;
}

#menu{
	position: fixed;
}

#playButton{
	margin-top: 25%;
	margin-left: 5%;
	position: fixed;
	display: inline;
}

#playtext{
	position: fixed;
	margin-top: 32%;
	margin-left: 2%;
}

#button{
	position: fixed;
	margin-left: 19%;
	margin-top: 32%;
	cursor: help;
}

#HowToPic{
	position: fixed;
	display: none;
	cursor: hand;
}

#Intro{
	position:fixed;
	margin-left: 37%;
	margin-top:32%;
	cursor: hand;
}

#video{
	position: fixed;
	margin-left: 0%;
	margin-top:0%;
	display: none;
}

#Black{
	position: fixed;
	margin: 0 0;
	display: none;
}