@font-face { font-family:VT323; src:url(../assets/fonts/VT323-Regular.ttf); font-size:10pt,12pt,14pt; }

body {
	background-color: black;
	margin: 80px 0 0 200px;
}

#menu{
	position: fixed;
}

#playButton{
	margin-top: 4%;
	margin-left: 35%;
	position: fixed;
	display: inline;
}

#playtext{
	position: fixed;
	margin-top: 12%;
	margin-left: 31%;
}

#button{
	position: fixed;
	margin-left: 32%;
	margin-top: 25%;
	cursor: help;
}

#HowToPic{
	position: fixed;
	display: none;
	cursor: hand;
}