@font-face { font-family:VT323; src:url(../assets/fonts/VT323-Regular.ttf); font-size:10pt,12pt,14pt; }

body {
	background-color: black;
	overflow: hidden;
}
#gameDiv{
	margin-top: 2%;
	margin-left: 5%;
	left: 20%;
	top: 50%;
}
.wrapper {

    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
}
#HowToPic{
	position: fixed;
	visibility: hidden;
}

#Intro{
	position: fixed;
	visibility: hidden;
}
#shitboy{
	position: fixed;
	visibility: hidden;
}

#black{
	position: fixed;
	visibility: hidden;
}

#pause{
	position: fixed;
	visibility: hidden;
}

#levelwechsel{
	position: fixed;
	visibility: hidden;
}


/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#000000; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}
#shitboyload{
	width: 150px;
	margin-top: 10%;
	margin-left: 44%;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
 /* centers the loading animation vertically one the screen */
    background-image:url(../img/loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin-left: 42.5%;
    margin-top: -4%;
 
}